{% extends "base.html" %}
{% block mainheader %}OneNote Pages{% endblock %}
{% block content %}
    <ul class="list-group list-group-flush">
      {% for x in result.value %}
      <li class="list-group-item">
        <div class="row justify-content-between">
          <div class="col-4">
            {{ x.title }}
          </div>
          <div class="col-4">
            <a class="btn btn-primary btn-sm" href="/onenotepage?page_url={{ x.contentUrl }}" role="button">View as
              HTML</a>
            <a class="btn btn-primary btn-sm" href="/onenotepagemd?page_url={{ x.contentUrl }}"
              download="page_download.md" role="button">Download as Markdown</a>
            </div>
          </div>
      </li>
{% endfor %}
</ul>
{% endblock %}
